.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: yellow;
}
.nav {
  display: flex;
  padding: 0;
  align-items: center;
  list-style-type: none;
}
.nav-item {
  margin-left: 16px;
}
.content {
    flex-grow: 1;
  display: flex;
}
.info {
  display: flex;
  flex-grow: 1;
  background-color: pink;
  align-items: center;
  justify-content: center;
}
.newsblock {
  background-color: gray;
  width: 200px;
}

.newsblock > h2 {
  text-align: center;
  margin: 16px 0px;
}
.news {
  padding: 0;
}
.news > li {
  line-height: 40px;
  margin-left: 16px;
  list-style-type: none;
}

.footer {
  display: flex;
  height: 40px;
  background-color: green;
}
.footer_text {
  margin: auto;
}
